Repository rdnuansa/terraform-studidevops-5: changes, and which Atlantis projects are due for each by the changed paths.
All: live/gcp/andromeda/dev/compute-instance, live/gcp/andromeda/dev/vpc, live/gcp/andromeda/prod/compute-instance, live/gcp/andromeda/prod/vpc, live/gcp/andromeda/qa/compute-instance, live/gcp/andromeda/qa/vpc, live/gcp/andromeda/staging/compute-instance, live/gcp/andromeda/staging/vpc, live/gcp/sandbox/dev.sandbox/compute-instance, live/gcp/sandbox/dev.sandbox/vpc, live/gcp/sandbox/prod.sandbox/compute-instance, live/gcp/sandbox/prod.sandbox/vpc, live/gcp/sandbox/staging.sandbox/compute-instance, live/gcp/sandbox/staging.sandbox/vpc

live/gcp/andromeda/dev/compute-instance:
  dir: live/gcp/andromeda/dev/compute-instance
  execution_order_group: 2

live/gcp/andromeda/dev/vpc:
  dir: live/gcp/andromeda/dev/vpc
  execution_order_group: 1

live/gcp/andromeda/prod/compute-instance:
  dir: live/gcp/andromeda/prod/compute-instance
  execution_order_group: 2

live/gcp/andromeda/prod/vpc:
  dir: live/gcp/andromeda/prod/vpc
  execution_order_group: 1

live/gcp/andromeda/qa/compute-instance:
  dir: live/gcp/andromeda/qa/compute-instance
  execution_order_group: 2

live/gcp/andromeda/qa/vpc:
  dir: live/gcp/andromeda/qa/vpc
  execution_order_group: 1

live/gcp/andromeda/staging/compute-instance:
  dir: live/gcp/andromeda/staging/compute-instance
  execution_order_group: 2

live/gcp/andromeda/staging/vpc:
  dir: live/gcp/andromeda/staging/vpc
  execution_order_group: 1

live/gcp/sandbox/dev.sandbox/compute-instance:
  dir: live/gcp/sandbox/dev.sandbox/compute-instance
  execution_order_group: 2

live/gcp/sandbox/dev.sandbox/vpc:
  dir: live/gcp/sandbox/dev.sandbox/vpc
  execution_order_group: 1

live/gcp/sandbox/prod.sandbox/compute-instance:
  dir: live/gcp/sandbox/prod.sandbox/compute-instance
  execution_order_group: 2

live/gcp/sandbox/prod.sandbox/vpc:
  dir: live/gcp/sandbox/prod.sandbox/vpc
  execution_order_group: 1

live/gcp/sandbox/staging.sandbox/compute-instance:
  dir: live/gcp/sandbox/staging.sandbox/compute-instance
  execution_order_group: 2

live/gcp/sandbox/staging.sandbox/vpc:
  dir: live/gcp/sandbox/staging.sandbox/vpc
  execution_order_group: 1

add group order
  atlantis.yaml
Due: none

test sandbox
  live/gcp/sandbox/dev.sandbox/compute-instance/terragrunt.hcl
  live/gcp/sandbox/prod.sandbox/compute-instance/terragrunt.hcl
  live/gcp/sandbox/staging.sandbox/compute-instance/terragrunt.hcl
Due: live/gcp/sandbox/dev.sandbox/compute-instance, live/gcp/sandbox/prod.sandbox/compute-instance, live/gcp/sandbox/staging.sandbox/compute-instance

fix mock output
  atlantis.yaml
  live/gcp/andromeda/dev/compute-instance/terragrunt.hcl
  live/gcp/andromeda/prod/compute-instance/terragrunt.hcl
  live/gcp/andromeda/qa/compute-instance/terragrunt.hcl
  live/gcp/andromeda/staging/compute-instance/terragrunt.hcl
  live/gcp/sandbox/dev.sandbox/compute-instance/terragrunt.hcl
  live/gcp/sandbox/prod.sandbox/compute-instance/terragrunt.hcl
  live/gcp/sandbox/staging.sandbox/compute-instance/terragrunt.hcl
Due: live/gcp/andromeda/dev/compute-instance, live/gcp/andromeda/prod/compute-instance, live/gcp/andromeda/qa/compute-instance, live/gcp/andromeda/staging/compute-instance, live/gcp/sandbox/dev.sandbox/compute-instance, live/gcp/sandbox/prod.sandbox/compute-instance, live/gcp/sandbox/staging.sandbox/compute-instance

update atlantis config
  atlantis.yaml
Due: none

update atlantis.yaml
  atlantis.yaml
Due: none

Revert "update atlantis.yaml"
  atlantis.yaml
Due: none

Revert "update atlantis config"
  atlantis.yaml
Due: none

fix vpc module
  modules/gcp/vpc/main.tf
Due: live/gcp/andromeda/dev/compute-instance, live/gcp/andromeda/dev/vpc, live/gcp/andromeda/prod/compute-instance, live/gcp/andromeda/prod/vpc, live/gcp/andromeda/qa/compute-instance, live/gcp/andromeda/qa/vpc, live/gcp/andromeda/staging/compute-instance, live/gcp/andromeda/staging/vpc, live/gcp/sandbox/dev.sandbox/compute-instance, live/gcp/sandbox/dev.sandbox/vpc, live/gcp/sandbox/prod.sandbox/compute-instance, live/gcp/sandbox/prod.sandbox/vpc, live/gcp/sandbox/staging.sandbox/compute-instance, live/gcp/sandbox/staging.sandbox/vpc

Path conditions:
  live/gcp/andromeda/dev/compute-instance: any of: live/gcp/andromeda/dev/compute-instance/*.hcl, live/gcp/andromeda/dev/compute-instance/*.tf*, live/gcp/andromeda/dev/environment.hcl, live/gcp/andromeda/project.hcl, live/root.hcl, live/gcp/andromeda/dev/vpc/terragrunt.hcl, modules/gcp/vpc/*.tf*, modules/gcp/compute-instance/*.tf*
  live/gcp/andromeda/dev/vpc: any of: live/gcp/andromeda/dev/vpc/*.hcl, live/gcp/andromeda/dev/vpc/*.tf*, live/gcp/andromeda/dev/environment.hcl, live/gcp/andromeda/project.hcl, live/root.hcl, modules/gcp/vpc/*.tf*
  live/gcp/andromeda/prod/compute-instance: any of: live/gcp/andromeda/prod/compute-instance/*.hcl, live/gcp/andromeda/prod/compute-instance/*.tf*, live/gcp/andromeda/prod/environment.hcl, live/gcp/andromeda/project.hcl, live/root.hcl, live/gcp/andromeda/prod/vpc/terragrunt.hcl, modules/gcp/vpc/*.tf*, modules/gcp/compute-instance/*.tf*
  live/gcp/andromeda/prod/vpc: any of: live/gcp/andromeda/prod/vpc/*.hcl, live/gcp/andromeda/prod/vpc/*.tf*, live/gcp/andromeda/prod/environment.hcl, live/gcp/andromeda/project.hcl, live/root.hcl, modules/gcp/vpc/*.tf*
  live/gcp/andromeda/qa/compute-instance: any of: live/gcp/andromeda/qa/compute-instance/*.hcl, live/gcp/andromeda/qa/compute-instance/*.tf*, live/gcp/andromeda/qa/environment.hcl, live/gcp/andromeda/project.hcl, live/root.hcl, live/gcp/andromeda/qa/vpc/terragrunt.hcl, modules/gcp/vpc/*.tf*, modules/gcp/compute-instance/*.tf*
  live/gcp/andromeda/qa/vpc: any of: live/gcp/andromeda/qa/vpc/*.hcl, live/gcp/andromeda/qa/vpc/*.tf*, live/gcp/andromeda/qa/environment.hcl, live/gcp/andromeda/project.hcl, live/root.hcl, modules/gcp/vpc/*.tf*
  live/gcp/andromeda/staging/compute-instance: any of: live/gcp/andromeda/staging/compute-instance/*.hcl, live/gcp/andromeda/staging/compute-instance/*.tf*, live/gcp/andromeda/staging/environment.hcl, live/gcp/andromeda/project.hcl, live/root.hcl, live/gcp/andromeda/staging/vpc/terragrunt.hcl, modules/gcp/vpc/*.tf*, modules/gcp/compute-instance/*.tf*
  live/gcp/andromeda/staging/vpc: any of: live/gcp/andromeda/staging/vpc/*.hcl, live/gcp/andromeda/staging/vpc/*.tf*, live/gcp/andromeda/staging/environment.hcl, live/gcp/andromeda/project.hcl, live/root.hcl, modules/gcp/vpc/*.tf*
  live/gcp/sandbox/dev.sandbox/compute-instance: any of: live/gcp/sandbox/dev.sandbox/compute-instance/*.hcl, live/gcp/sandbox/dev.sandbox/compute-instance/*.tf*, live/gcp/sandbox/dev.sandbox/environment.hcl, live/gcp/sandbox/project.hcl, live/root.hcl, live/gcp/sandbox/dev.sandbox/vpc/terragrunt.hcl, modules/gcp/vpc/*.tf*, modules/gcp/compute-instance/*.tf*
  live/gcp/sandbox/dev.sandbox/vpc: any of: live/gcp/sandbox/dev.sandbox/vpc/*.hcl, live/gcp/sandbox/dev.sandbox/vpc/*.tf*, live/gcp/sandbox/dev.sandbox/environment.hcl, live/gcp/sandbox/project.hcl, live/root.hcl, modules/gcp/vpc/*.tf*
  live/gcp/sandbox/prod.sandbox/compute-instance: any of: live/gcp/sandbox/prod.sandbox/compute-instance/*.hcl, live/gcp/sandbox/prod.sandbox/compute-instance/*.tf*, live/gcp/sandbox/prod.sandbox/environment.hcl, live/gcp/sandbox/project.hcl, live/root.hcl, live/gcp/sandbox/prod.sandbox/vpc/terragrunt.hcl, modules/gcp/vpc/*.tf*, modules/gcp/compute-instance/*.tf*
  live/gcp/sandbox/prod.sandbox/vpc: any of: live/gcp/sandbox/prod.sandbox/vpc/*.hcl, live/gcp/sandbox/prod.sandbox/vpc/*.tf*, live/gcp/sandbox/prod.sandbox/environment.hcl, live/gcp/sandbox/project.hcl, live/root.hcl, modules/gcp/vpc/*.tf*
  live/gcp/sandbox/staging.sandbox/compute-instance: any of: live/gcp/sandbox/staging.sandbox/compute-instance/*.hcl, live/gcp/sandbox/staging.sandbox/compute-instance/*.tf*, live/gcp/sandbox/staging.sandbox/environment.hcl, live/gcp/sandbox/project.hcl, live/root.hcl, live/gcp/sandbox/staging.sandbox/vpc/terragrunt.hcl, modules/gcp/vpc/*.tf*, modules/gcp/compute-instance/*.tf*
  live/gcp/sandbox/staging.sandbox/vpc: any of: live/gcp/sandbox/staging.sandbox/vpc/*.hcl, live/gcp/sandbox/staging.sandbox/vpc/*.tf*, live/gcp/sandbox/staging.sandbox/environment.hcl, live/gcp/sandbox/project.hcl, live/root.hcl, modules/gcp/vpc/*.tf*
